/*
Colors:
#d4eef3 - Light blue

#bed8db - Slightly darker blue

#ff7f7f - Pink

#3e3e3e -Dark grey

#0e0f0f - Black
*/

header {
  background-color: #0e0f0f;
  color: white;
}

header h1 {
  font-weight: 400;
  letter-spacing: 0.1em;
}

.is-center {
  text-align: center;
}

.results-section {
  /*margin: 3em;*/
  background-color: white;
  /*background-image: url(../img/hero.jpg);*/
  background-size: cover;
}



.results-section .pure-input-1 {
  max-width: 50em;
  height: 5em;
  margin: 0 auto;
}

.results-section .pure-form input[readonly],
.results-section .pure-form select[readonly],
.results-section .pure-form textarea[readonly] {
  border-color: #ccc;
  background-color: white;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 1.25em;
}

.results-section .pure-form input[readonly]:focus {
  border-color: #ff7f7f;
}



.options-section {
  background-color: #d4eef3;
}

.options-section input {
  margin: 0 auto;

}

.options-section fieldset {
  margin: 0 5em;
  text-align: left;
}

.submit-section {
  background-color: #bed8db;
}

.wrapper {
  color: #0e0f0f;
}

footer {
  background-color: #3e3e3e;
  color: white;
}

.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 1em 0 1em;
}

.content {
  margin: 5em 0;
}
